@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Plus+Jakarta+Sans:wght@300;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white antialiased overflow-x-hidden;
  /* This creates the mesh gradient background */
  background-image: radial-gradient(circle at 50% 10%, #2c2727 0%, #111010 100%);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111010; 
}
::-webkit-scrollbar-thumb {
  background: #2c2727; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981; 
}